In [12]:
import pandas as pd
import numpy as np
import

In [13]:
df = pd.read_csv("defense.csv")

In [14]:
df.head()

,Rk.,Year,Team,PA,Total Shifts,%,PA-RHH,Shifts-RHH,%-RHH,wOBA-RHH,PA-LHH,Shifts-LHH,%-LHH,wOBA-LHH
0,1,2021,Orioles,6228,1604,25.8,4012,378,9.4,0.323,2216,1226,55.3,0.332
1,2,2021,D-backs,6223,1974,31.7,3682,832,22.6,0.375,2541,1142,44.9,0.341
2,3,2021,Cubs,6176,2177,35.2,3347,466,13.9,0.381,2829,1711,60.5,0.365
3,4,2021,Reds,6169,1584,25.7,3458,260,7.5,0.420,2711,1324,48.8,0.315
4,5,2021,Tigers,6154,2342,38.1,3804,760,20.0,0.346,2350,1582,67.3,0.316

In [15]:
df.columns

Index(['Rk.', 'Year', 'Team', 'PA', 'Total Shifts', '%', 'PA-RHH',
       'Shifts-RHH', '%-RHH', 'wOBA-RHH', 'PA-LHH', 'Shifts-LHH', '%-LHH',
       'wOBA-LHH'],
      dtype='object')

In [24]:
compare_df = [[df['%-RHH'], df['wOBA-RHH'], df['wOBA-LHH']]]

In [30]:
display(df['wOBA-RHH'].mean())
display(df['wOBA-LHH'].mean())

0.3503333333333334

0.31660000000000005

In [31]:
display(df['%-RHH'].mean())
display(df['%-LHH'].mean())

16.196666666666665

52.80666666666668

In [34]:
TopShifters = df.sort_values(by = "%", ascending = False)
TopShifters.head()

,Rk.,Year,Team,PA,Total Shifts,%,PA-RHH,Shifts-RHH,%-RHH,wOBA-RHH,PA-LHH,Shifts-LHH,%-LHH,wOBA-LHH
23,24,2021,Dodgers,5905,3165,53.6,3338,1403,42.0,0.293,2567,1762,68.6,0.277
28,29,2021,Mets,5764,2891,50.2,3263,1469,45.0,0.320,2501,1422,56.9,0.311
12,13,2021,Astros,6048,2792,46.2,3555,761,21.4,0.290,2493,2031,81.5,0.312
26,27,2021,Braves,5852,2276,38.9,3582,1197,33.4,0.319,2270,1079,47.5,0.323
4,5,2021,Tigers,6154,2342,38.1,3804,760,20.0,0.346,2350,1582,67.3,0.316